@media screen and (min-width: 300px) and (max-width: 600px) {

    body {
        width: 100vw;
    
    }

    header {
        position: static;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-toggler-icon {
        padding: 1.5rem;
        border-radius: 10px;
        background-color: grey;


    }

    header nav {
        width: 100%;
        margin: 0;
    }

    header nav ul {
        margin-left: 2rem;
        gap: 1rem;
        padding: 1rem;
    }

    header ul li {
        margin: 0;
        gap: 0;
    }

    main {
        width: 100vw;
        margin-left: 0;
        height: 70vh;
        
    
    }

    main .container {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background-image: none;

    }

    main .container img {
        margin-left: -4.5rem;
    }
    main .container p {
        font-size: 20px;
    }

    .container p {
        width: 100%;
        margin-left: -4.5rem;
    }

    main .social-media i {
        font-size: 25px;
    }

    .who {
        flex-direction: column;
        height: 70vh;
        background-image: none;
    }

    .who .container {
        width: 100%;
        align-items: center;
    }
    .who .container h2 {
        margin-left: -5.5rem;
        font-size: 40px;
    }

    .who .container p {
        margin-left: -4.5rem;
        width: 15rem;
    }

    .who .container-img {
        display: none;
    }

    .history{
        flex-direction: column-reverse;
    }


    .history .right-side {
        width: 100%;
    }

    .history .right-side h2 {
        font-size: 40px;
    }

    .history .left-side {
        margin-left: -0.5rem;
        margin-bottom: 5rem;
    }


    footer {
        height: 40vh;
    }
    footer nav dl dt {
        font-size: 16px;
    }

    footer .adress {
        padding: 0;
    }

    footer .adress span {
        font-size: 15px;
    }
}