/* configurções iniciais (reset css) */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* adição de background-image para o corpo do html */
body {
    background-image: url(../img/Rectangle\ 35.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Div provisória para adicionar o efeito de "blur" */


#imagem {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#imagem img {
    width: 100%;
    opacity: 0.2;
}


/* cabeçalho do projeto */



header {
    position: fixed;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid #ffffff5a;
    background-color: transparent;
}






.navbar-brand {

    display: flex;
    align-items: center;
}

header nav ul {
    margin-right: 5rem;
    display: flex;
    gap: 100px;
}


header nav ul li a {
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 300ms all;
}

header nav ul li a:hover {
    opacity: 0.8;
}

/* conteúdo principal */

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../img/burger-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-image: url(../img/ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-left: 5rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container img {
    width: 399px;
    height: 175px;
}

.text-box {
    margin-left: 3rem;
}

.container p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    width: 45%;

}

.container a {
    background-color: #42FF00;
    width: 25%;
    padding: 10px 2rem;
    font-family: 'Iceland', cursive;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    transition: 300ms all;
}

.container a:hover {
    cursor: pointer;
    opacity: 0.8;
}


.social-media ul {
    display: flex;
    gap: 20px;
}

.social-media ul li {
    list-style: none;
    color: #FFFFFF
}

.social-media i {
    transition: 300ms all;
    
}

.social-media i:hover {
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}

/* Quem somos */

.who {
    height: 100vh;
    display: flex;
    margin: 0;
    margin-bottom: 5rem;
}


.container-img img {
    width: 750px;
    height: 600px;
}

.who>.container {
    color: #FFFFFF;
    gap: 10px;
}

.who>.container h2 {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.who>.container p {
    width: 70%;
    margin-left: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* sessão de história do estabelecimento (lado esquerdo e lado direito)*/


.history {
    height: 100vh;
    display: flex;
    background-image: url(../img/ellipse.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.history h2 {
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 3rem;
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.history p {
    width: 60%;
    margin-left: 5.5rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

.left-side img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.right-side {
    background-image: url(../img/ellipse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}


/* rodapé do site */


footer {
    padding: 2rem;
    height: 50vh;
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

footer nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

dl {
    display: flex;
    flex-direction: column;
}

dt {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

dd {
    margin: 0;
    font-weight: 400;
}

.adress {
    border-top: 1px solid #ffffff5a;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}

span {
    font-weight: 400;
}





/* responsividade */ 


